
<table class="table table-hover table-striped table-condensed table-responsive" style="font-size: 10px;" id="tableCall">
  <thead>
    <th>Detalle</th>
		<th>Fecha</th>
		<th>Inicio llamada</th>
		<th>Nº que llama</th>
		<th>Contestó IVR</th>
		<th>Nº Anexo</th>
		<th>Fecha Inicio</th>
		<th>Nº que llama</th>
		<th>Nº donde se transfiere</th>
		<th>Fecha término</th>
		<th>Transferencia contestada</th>
    <th>Término de llamada</th>
  </thead>
</table>
